::-webkit-scrollbar {
    display: none;
}

html, body {
    height: 1rem !important;
}

.list-group-item {
    display: none;
}

.list-group {
    min-width: 300px;
    margin-bottom: 0;
}

.bg-dark {
    background-color: #000099;
}